.enunciado{
    margin: 0.5%;
    margin-bottom: 25px;
    background-color: white;
    border-radius: 10px;
    padding-left: 1%;
    padding-bottom: 1%;
}

button{
    margin: .1%;
}

.formula{
    margin-left: 5%;
    margin-bottom: 1%;
    margin-top: 1%;
}

h1{
    margin-left: 1%;
    margin-bottom: 4%;
}

.imgexemplos{
    padding-bottom: 3%;
    padding-left: 6%;
    width:auto;
    height:300px
}

p{
    padding-left: 2%;
    padding-right: 4%;
    text-align: justify;
}

h2{
    margin-left: 1%;
    margin-bottom: 2%;
    margin-top: 2%;
}

h4{
    margin-left: 3%;
    margin-bottom: 1%;
    margin-top: 1%;
}

.qst{
    padding-top: 4%;
}